//COLOR
$main_color: #0583f2;

$button_color: #0583f2;
$button_color_active: #0597f2;

$input_color: #e7e7e7;
$input_color-active: #ededed;
$input_border: #c8c8c5;

$white_color: #ffff;

// Items
$item_color_done: #d1e7dd;
$item_color_unfinish: #f8d7da;
$item_color_all: #f8f3d7;

$item_color_unf_dark: #842029;
$item_color_d_dark: #0f5132;

// Category

$category_color_clean: #fbeaff;
$category_color_clean_bck: #f2d3f9;
$category_color_clean_d: #9d86b9;

$category_color_sport: #cffaf0;
$category_color_sport_bck: #9feddb;
$category_color_sport_d: #4d8076;

$category_color_prace: #fde8e5;
$category_color_prace_bck: #fed0c8;
$category_color_prace_d: #dc5b4d;

$category_color_study: #fefedf;
$category_color_study_bck: #fafac1;
$category_color_study_d: #b0b06d;

/////////////////////////////////////////////
//Border radius
$border_radius: 1rem;
$border_radius_circle: 50%;
$border_radius_input: 0.5rem;

//FONT
$main_font: 'Verdana';
